def settings():
    return {
        'image': 'local',
        'volume': 'local',

        'image_storage': '/usr/local/klapi/images',
        'volume_storage': '/usr/local/klapi/volumes',
        'volume_storage_name': 'klapi_storage',

        'infra': 'libvirt',
        'infra_connection': 'qemu:///system',

        'network_name': 'klapi_network',
        'network_ip': '10.42.0.1',

        'db': 'sqlite3',
        'db_table': 'klapi.db'
    }
